<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="This web app for XXX">

    <title>XXX</title>

    <!-- Default styles for this template -->
    <link href="../../css/template.css" rel="stylesheet">
    <link href="../../lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
    <link href="../../css/layoutit.css" rel="stylesheet">

    <!-- Default lib for this template -->
    <script src="../../lib/jquery/dist/jquery.min.js"></script>
    <script src="../../lib/bootstrap/dist/js/bootstrap.min.js"></script>

    <!-- Common js libs -->
    <script src="../../js/jquery-ui.js"></script>
    <script src="../../js/jquery.htmlClean.js"></script>    
    <script src="../../js/scripts.js"></script>

    <!-- Custom styles for this template -->
    <link href="css/app.css" rel="stylesheet">
  
    <!-- Custom lib for this template -->
    <script src="js/app.js"></script>
    <!-- <script>start()</script> -->

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <![endif]-->
  
 
    <style>
    </style>

  </head>


  <!--Customer need add its own HTML View on this Section.-->
  <div class="container" >

        <div class="template" >
          <img src="../../images/logo.png" id="logo">
          <h1>Restful Service is Running!</h1>
        </div>
  
  </div><!-- /.container -->


  <!-- End of HTML View -->

  <script>
      $(function () {
        start()       
      });
  </script>  

  </body>
</html>
